html {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

body {
  font-family: "Quicksand", sans-serif;
  color: black;
  width: 100%;
  /* max-width: 950px; */
  /* min-width: 450px; */
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.pic1,
.pic2 {
  -webkit-animation: fadeinpics 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinpics 2.5s; /* Firefox < 16 */
  -ms-animation: fadeinpics 2.5s; /* Internet Explorer */
  -o-animation: fadeinpics 2.5s; /* Opera < 12.1 */
  animation: fadeinpics 2.5s;
}

.splashblurb {
  -webkit-animation: fadeinblurb 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinblurb 2.5s; /* Firefox < 16 */
  -ms-animation: fadeinblurb 2.5s; /* Internet Explorer */
  -o-animation: fadeinblurb 2.5s; /* Opera < 12.1 */
  animation: fadeinblurb 2.5s;
}

@keyframes fadeinpics {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeinpics {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinpics {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeinpics {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeinpics {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

@keyframes fadeinblurb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeinblurb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinblurb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeinblurb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeinblurb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pic {
  position: absolute;
}

.pic1 {
  bottom: 223px;
  right: 210px;
  opacity: 0.4;
}

.pic1 > img {
  height: 310px;
  width: 205px;
}

.pic2 {
  /* position: relative; */
  bottom: 72px;
  left: 150px;
  opacity: 0.4;
}

.pic2 > img {
  height: 400px;
  width: 310px;
}

.pic3 {
  top: 149px;
  right: 230px;
  /* left: 0; */
  opacity: 0.5;
}

.pic3 > img {
  height: 200px;
  width: 280px;
}

.pic4 {
  top: 270px;
  left: 270px;
  opacity: 0.4;
}

.pic4 > img {
  height: 320px;
  width: 225px;
}

.splash {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
  /* border: 1px orange solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  font-size: 85%;
  padding: 13px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px green solid; */
}

.navlinks {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.navlinks a:hover {
  background-color: rgba(145, 150, 144, 0.2);
  border-radius: 8px;
  /* padding: 3px; */
}

.logo {
  border-bottom: rgba(145, 150, 144, 0.5) solid 3px;
  /* border-radius: 10px; */
}

.logo:hover {
  border-bottom: rgba(145, 150, 144, 0) solid 3px;
}

.splashblurb,
.splashlearn {
  margin: 0;
  padding: 0;
  text-align: center;
}

.splashlearn {
  position: relative;
  width: 200px;
  height: 60px;
  margin: 40px auto -20px auto;
}

.splashlearn > a > p {
  margin: 0;
  padding: 0;
  font-size: 85%;
}

.splashblurb > h1 {
  font-size: 300%;
  font-weight: 300;
  margin: 0;
}

.splashblurb > h2 {
  font-size: 125%;
  font-weight: 400;
  padding-right: 30px;
  padding-left: 30px;
}

.splashlearn > p {
  margin: 0;
}

#learnabout {
  color: #919690;
}

#learnabout:hover {
  color: rgba(145, 150, 144, 0.6);
}

.learnabout:hover {
  background-color: rgba(145, 150, 144, 0.3);
  border-radius: 12px;
}

.learn {
  margin: 0 auto;
  margin-top: 20px;
  /* margin-bottom: 60px; */
  width: 53%;
}

.learn > a > p {
  margin: 0;
  padding: 3px;
  font-size: 80%;
}

.about {
  background-image: url("https://images.unsplash.com/photo-1518358246973-95637f1df901?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80");
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin: 0;
  margin-top: 105px;
  margin-bottom: 10px;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.backgroundcover {
  height: 600px;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.aboutcontent {
  height: 80%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.aboutblurb {
  margin: 0;
  padding: 0;
  text-align: center;
}

.aboutblurb > h2 {
  font-size: 180%;
  margin-top: 30px;
  font-weight: 400;
}

.aboutblurb > p {
  padding-right: 20px;
  padding-left: 20px;
}

.skills {
  width: 100%;
  /* width: 600px; */
  max-width: 700px;
  min-width: 475px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills * {
  font-size: 100%;
}

.devtools,
.languages,
.softskills {
  width: 33.3%;
}

.fa-check-circle {
  font-size: 90%;
  margin-right: 6px;
  color: rgba(145, 150, 144, 1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  margin: 5px;
}

.seemywork {
  margin: 0 auto;
  margin-top: 20px;
  /* margin-bottom: 60px; */
  width: 43%;
}

.seemywork > a > p {
  margin: 0;
  padding: 2px;
  font-size: 80%;
}

.seework {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 9px;
}

.seework:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#seework {
  color: rgba(255, 255, 255, 0.6);
}

#seework:hover {
  color: #919690;
}

.projects {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 50px 0;
  /* border: 1px blue solid; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
}

.projects h2 {
  font-weight: 400;
}

.projectinfo {
  text-align: center;
  margin-bottom: 50px;
  /* display: flex;
  flex-direction: column; */
}

.projectcards {
  width: 100%;
  text-align: center;
  /* position: relative; */
}

/* card modals */
.popup {
  background-color: white;
  z-index: 1;
  display: none;
  opacity: 1;
  text-align: center;
  height: 80vh;
  width: 80vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

.card.active {
  opacity: 0.5;
}

.popup.active {
  display: flex;
  /* -webkit-animation: popupfadein 1s; Safari, Chrome and Opera > 12.1 */
  /* -moz-animation: popupfadein 1s; Firefox < 16 */
  /* -ms-animation: popupfadein 1s; Internet Explorer */
  /* -o-animation: popupfadein 1s; Opera < 12.1 */
  /* animation: popupfadein 1s; */
}

/* @keyframes popupfadein {
  from {
    display: none;
  }
  to {
    display: block;
  }
} */

/* Safari, Chrome and Opera > 12.1 */
/* @-webkit-keyframes popupfadein {
  from {
    display: none;
  }
  to {
    display: block;
  }
} */
/*  */

.card {
  opacity: 1;
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 3px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.8;
  width: 22px;
  height: 22px;
  border-radius: 28px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
}

.wrapper {
  width: 100%;
  border-radius: 3px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card1 {
  background-color: rgba(0, 0, 0, 0.05);
}

.wrapper1 {
  background-color: rgba(0, 0, 0, 0.1);
}

.card2 {
  background-color: rgba(160, 169, 173, 0.2);
}

.wrapper2 {
  background-color: rgba(160, 169, 173, 0.3);
}

.card3 {
  background-color: rgba(78, 94, 54, 0.1);
}

.wrapper3 {
  background-color: rgba(78, 94, 54, 0.2);
}

.card4 {
  background-color: rgba(145, 150, 144, 0.2);
}

.wrapper4 {
  background-color: rgba(145, 150, 144, 0.3);
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content4 p {
  position: absolute;
  font-size: 85%;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  /* right: 50%;
  top: 50%; */
  top: 0;
  /* transform: translate(-50%, -50%); */
  /* transform: translateX(50%); */
}

.cardfade {
  opacity: 0;

  -webkit-animation: fadeoutcard 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeoutcard 1s; /* Firefox < 16 */
  -ms-animation: fadeoutcard 1s; /* Internet Explorer */
  -o-animation: fadeoutcard 1s; /* Opera < 12.1 */
  animation: fadeoutcard 1s;
}

@keyframes fadeoutcard {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeoutcard {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeoutcard {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeoutcard {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeoutcard {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.divider {
  height: 300px;
  margin-top: 25px;
  background-image: url("https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=730&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat, no-repeat;
  opacity: 0.5;
}

.contact {
  position: relative;
  width: 100%;
  height: 270px;
  margin: 0;
  text-align: center;
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contactblurb > h2 {
  font-size: 180%;
  margin-top: 60px;
  font-weight: 400;
}

.contacts {
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.linkedin,
.email,
.github {
  margin: 8px;
}

.fa-linkedin-square,
.fa-envelope,
.fa-github {
  color: #919690;
  font-size: 120%;
  margin-right: 3px;
}

.fa-envelope {
  font-size: 105%;
}

.fa-copy,
.fa-external-link {
  color: #919690;
}

.contacts p {
  font-size: 90%;
}

#touch {
  color: #919690;
}

#touch:hover {
  color: rgba(145, 150, 144, 0.6);
}

.touch:hover {
  background-color: rgba(145, 150, 144, 0.3);
  border-radius: 10px;
}

.getintouch {
  margin: 0 auto;
  margin-top: 20px;
  width: 37%;
}

.getintouch > a > p {
  margin: 0;
  padding: 3px;
  font-size: 80%;
}

button {
  border: none;
  font-size: 15px;
}

footer {
  font-size: 80%;
  margin-top: 140px;
  padding: 10px;
  /* justify-content: space-between; */
  /* border: 1px green solid; */
  text-align: center;
  /* border-top: solid 2px rgb(145, 150, 144); */
}

.row {
  width: 100%;
}

/* media queries */
@media only screen and (max-width: 400px) {
  .pic1 {
    bottom: 70px;
    left: 105px;
  }

  .pic1 > img {
    height: 400px;
    width: 280px;
  }

  .pic2 {
    bottom: 125px;
    left: -200px;
  }

  .pic2 > img {
    height: 400px;
    width: 295px;
  }

  .about {
    height: 1200px;
  }

  .backgroundcover {
    height: 1200px;
  }

  .skills {
    flex-direction: column;
  }

  .popup {
    width: 100vw;
  }

  .close {
    width: 31px;
    height: 31px;
    border-radius: 31px;
    font-size: 115%;
  }
}
